/*stilovi specificni za neki dio aplikacije*/

.container {
  width: 300px;
  margin: 0 auto; 
  margin-bottom: 20px;
  padding: 20px;
  background-color: #e5e2a2;
  border-radius: 8px;
  text-align: center;
}

.container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f6f4d2;
}

.container button {
  width: 100%;
  padding: 10px;
  background-color: #4c8139;
  color: white;
  border: none;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.mini-container button {
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #797642;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.selection{
  width: 97%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f6f4d2;
}