/*stilovi specificni za neki dio aplikacije*/

.filteri,
.container {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #e5e2a2;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

button{
    padding: 7px;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 30px;
    background-color: #aeae53;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f6f4d2;
}

.filteri button,
.container button {
    width: 100%;
    padding: 10px;
    background-color: #4c8139;
    color: white;
    border: none;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.filteri button:hover,
.container button:hover {
    background-color: #397732;
}

.mini-container button {
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #797642;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filteri select,
.selection{
    width: 97%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f6f4d2;
}

.image-preview{
    width: 50%;
}

.filteri input,
.filteri select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f6f4d2;
    box-sizing: border-box;
}

ul {
    list-style-type:none;
    padding: 10px;
    margin: 0;
    text-align: center;
}

ul li {
    background-color: #e5e2a2;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
}

ul li p {
    margin: 5px 0;
    color: #555;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

ul li a:hover h3 {
    color: #4c8139;
}